:root {
  --font-primary: var(--font-jetbrains-mono);
}

body {
  font-family: var(--font-primary), sans-serif;
}



.euiFormControlLayout .euiFormControlLayout__append .euiButtonIcon {
  background-color: #089c3b !important;
  color: var(--euiTextColor) !important;
  &:hover {
    background-color: #5bb366 !important;
  }
}

.euiTable,
.euiToast,
.euiTableRow-isSelectable {
  background-color: var(--euiBackgroundBasePlain) !important;
}

.euiCode {
  background-color: #089c3b !important;
  color: var(--euiTextColor) !important;
}
